# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Assets/AssetStoreTools*
Panoramas/
Library/
Logs/
UserSettings/
.ScreenShots/
.RenderMovie/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.pidb
*.suo
*.user
*.unityproj
*.booproj
.vs
*.csproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

